# F1 Data Wrangling Framework

In [1]:

#Hypothesis: 
#Predict the probability of when a wreck will happen in an F1 race and how does the speed of the driver 
#impact the likelihood of a wreck?

In [2]:

#We are looking specifically at races that have taken place from 2009-2020 at Monaco, Monza, and Barcelona.

In [3]:


#We will be using the following CSV Files found via our Kaggle Data Set: 

#Laptimes.CSV, Pitstops.CSV, Results.CSV, Races.CSV, Status.CSV

In [4]:
# We will be using data with a CircuitID = 4, 6, and 14 for Barcelona, Monaco, and Monza
# We will be using data with a StatusID = 3, 4, and 104 for Accident, Collision, or Fatal Accident
# ^^^ would definitely want to include more statusIds that indicate a safety car/stoppage in play if you guys know

In [5]:
import pandas as pd 
import os
import csv

In [6]:
print(os.getcwd())

/Users/jamesbifulco/Desktop/f1capstonerepo/githubrepo

# Combining Results.CSV and Races.CSV

In [119]:
# Now let's import Results.csv and Races.csv, 
# Let's filter them out to meet our conditions respectively, 
# After filtering is complete, join these dataframes on the appropriate key values 
# Appropriate key value: RaceID

In [7]:
results = pd.read_csv("/Users/jamesbifulco/Desktop/f1capstonerepo/githubrepo/results.csv")

In [8]:
results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [9]:
#lets Drop the columns that we do not need. "positionText" positionOrder points

In [10]:
results.drop("resultId", axis=1, inplace=True)

In [11]:
results.drop("number", axis=1, inplace=True)

In [12]:
results.drop("positionText", axis=1, inplace=True)

In [13]:
results.drop("positionOrder", axis=1, inplace=True)

In [14]:
results.drop("points", axis=1, inplace=True)

In [15]:
results.head()

,raceId,driverId,constructorId,grid,position,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,18,1,1,1,1,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,18,2,2,5,2,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,18,3,3,7,3,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,18,4,4,11,4,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,18,5,1,3,5,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [16]:
#Now lets filter by statusID

In [17]:
statuses = [3, 4, 104]

In [18]:
resultsfiltered = results[results['statusId'].isin(statuses)]

In [19]:
resultsfiltered.head()

,raceId,driverId,constructorId,grid,position,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
8,18,9,2,2,\N,47,\N,\N,15,9,1:28.753,215.100,4
9,18,10,7,18,\N,43,\N,\N,23,13,1:29.558,213.166,3
13,18,14,9,8,\N,25,\N,\N,21,11,1:29.502,213.300,4
16,18,17,9,14,\N,0,\N,\N,\N,\N,\N,\N,4
17,18,18,11,12,\N,0,\N,\N,\N,\N,\N,\N,4

In [20]:
# Above is results CSV filtered by status and variables relevant to our hypothesis
#Check back with team to make sure there are no variables deleted that are desired for analysis

In [21]:
# Now to contniue crafting our project Dataframe

In [22]:
# Next step will be to filter out Races.csv 
# And then join it with resultsfiltered ON RaceId 
#-> check with team that this is valid

In [23]:
races = pd.read_csv("/Users/jamesbifulco/Desktop/f1capstonerepo/githubrepo/races.csv")

In [24]:
races.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [25]:
races.drop("round", axis=1, inplace=True)

In [26]:
races.drop("time", axis=1, inplace=True)

In [27]:
races.drop("url", axis=1, inplace=True)

In [28]:
races.drop("year", axis=1, inplace=True)

In [29]:
races.head()

   raceId  circuitId                   name        date
0       1          1  Australian Grand Prix  2009-03-29
1       2          2   Malaysian Grand Prix  2009-04-05
2       3         17     Chinese Grand Prix  2009-04-19
3       4          3     Bahrain Grand Prix  2009-04-26
4       5          4     Spanish Grand Prix  2009-05-10

In [30]:
results_and_races = pd.merge(resultsfiltered, races, on="raceId")

In [31]:
results_and_races.head()

,raceId,driverId,constructorId,grid,position,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,circuitId,name,date
0,18,9,2,2,\N,47,\N,\N,15,9,1:28.753,215.100,4,1,Australian Grand Prix,2008-03-16
1,18,10,7,18,\N,43,\N,\N,23,13,1:29.558,213.166,3,1,Australian Grand Prix,2008-03-16
2,18,14,9,8,\N,25,\N,\N,21,11,1:29.502,213.300,4,1,Australian Grand Prix,2008-03-16
3,18,17,9,14,\N,0,\N,\N,\N,\N,\N,\N,4,1,Australian Grand Prix,2008-03-16
4,18,18,11,12,\N,0,\N,\N,\N,\N,\N,\N,4,1,Australian Grand Prix,2008-03-16

In [32]:
# Above is a Dataframe containing the CSVs of Results and Races filtered out for Statuses that designate
# a wreck or safety car appearance. 
#Next we will filter out the dataframe for our specific locations (Monaco, Monza, Barcelona)

In [33]:
circuits = [4,6,14]

In [34]:
results_and_races_in_MMB = results_and_races[results_and_races['circuitId'].isin(circuits)]

In [35]:
results_and_races_in_MMB.head()

,raceId,driverId,constructorId,grid,position,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,circuitId,name,date
10,21,22,11,11,\N,34,\N,\N,21,16,1:23.858,199.837,4,4,Spanish Grand Prix,2008-04-27
11,21,5,1,6,\N,21,\N,\N,19,6,1:22.453,203.243,3,4,Spanish Grand Prix,2008-04-27
12,21,7,5,16,\N,7,\N,\N,6,19,1:25.999,194.862,4,4,Spanish Grand Prix,2008-04-27
13,21,12,4,10,\N,6,\N,\N,6,18,1:25.444,196.128,4,4,Spanish Grand Prix,2008-04-27
14,21,16,10,20,\N,0,\N,\N,\N,\N,\N,\N,4,4,Spanish Grand Prix,2008-04-27

In [36]:
# Transfer all of the values of the raceID column into a list that I will use to filter out Lap_Times and Pit_Stops

raceIdMMB = results_and_races_in_MMB["raceId"].tolist()

In [37]:
# the list below contains all the values in the name column in this df 
#to confirm that the data has been sorted by location correctly
locationconfirmation = results_and_races_in_MMB["name"].tolist()

In [38]:
#Above is a dataframe containing instances of crashes (designated by status 3, 4, 104) that have taken place in Monaco
#Monza, and Barcelona from 2009-2020
#This includes: RaceId, DriverId, ConstructorID, Starting Position on Grid, Final Position, Laps, Driver's Fastest Lap
#and how that ranks per race, Driver's fastest laptime, fastest lap speed, Status, Circuit, name of race and Date.

# Crash Data Filtered by Track

In [52]:
#BARCELONA
barcelona = [4]
results_and_races_in_barcelona = results_and_races[results_and_races['circuitId'].isin(barcelona)]
results_and_races_in_barcelona.head()

,raceId,driverId,constructorId,grid,position,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,circuitId,name,date
10,21,22,11,11,\N,34,\N,\N,21,16,1:23.858,199.837,4,4,Spanish Grand Prix,2008-04-27
11,21,5,1,6,\N,21,\N,\N,19,6,1:22.453,203.243,3,4,Spanish Grand Prix,2008-04-27
12,21,7,5,16,\N,7,\N,\N,6,19,1:25.999,194.862,4,4,Spanish Grand Prix,2008-04-27
13,21,12,4,10,\N,6,\N,\N,6,18,1:25.444,196.128,4,4,Spanish Grand Prix,2008-04-27
14,21,16,10,20,\N,0,\N,\N,\N,\N,\N,\N,4,4,Spanish Grand Prix,2008-04-27

In [55]:
#MONACO
monaco = [6]
results_and_races_in_monaco = results_and_races[results_and_races['circuitId'].isin(monaco)]
results_and_races_in_monaco.head()

,raceId,driverId,constructorId,grid,position,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,circuitId,name,date
18,23,16,10,18,\N,67,\N,\N,60,16,1:22.039,146.564,4,6,Monaco Grand Prix,2008-05-25
19,23,3,3,6,\N,59,\N,\N,58,15,1:21.270,147.951,3,6,Monaco Grand Prix,2008-05-25
20,23,12,4,17,\N,47,\N,\N,40,17,1:31.187,131.860,3,6,Monaco Grand Prix,2008-05-25
21,23,14,9,15,\N,7,\N,\N,7,20,1:42.112,117.753,3,6,Monaco Grand Prix,2008-05-25
22,23,7,5,16,\N,7,\N,\N,7,19,1:41.150,118.872,4,6,Monaco Grand Prix,2008-05-25

In [57]:
#MONZA
monza = [14]
results_and_races_in_monza = results_and_races[results_and_races['circuitId'].isin(monza)]
results_and_races_in_monza.head()

,raceId,driverId,constructorId,grid,position,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,circuitId,name,date
32,31,21,10,12,\N,11,\N,\N,6,20,1:37.304,214.326,3,14,Italian Grand Prix,2008-09-14
64,48,14,9,20,\N,1,\N,\N,\N,\N,\N,\N,3,14,Italian Grand Prix,2007-09-09
161,104,45,17,17,\N,33,\N,\N,13,16,1:24.061,248.091,3,14,Italian Grand Prix,2004-09-12
162,104,44,7,13,\N,0,\N,\N,\N,\N,\N,\N,4,14,Italian Grand Prix,2004-09-12
213,138,13,15,14,\N,16,\N,\N,\N,\N,\N,\N,4,14,Italian Grand Prix,2002-09-15

# Crash & Non Crash Data Filtered by Track

In [62]:
all_results_and_races = pd.merge(results, races, on="raceId")

#BARCELONA
barcelona = [4]
results_and_races_in_barcelona = all_results_and_races[all_results_and_races['circuitId'].isin(barcelona)]
results_and_races_in_barcelona.head()

,raceId,driverId,constructorId,grid,position,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,circuitId,name,date
66,21,8,6,1,1,66,1:38:19.051,5899051,46,1,1:21.670,205.191,1,4,Spanish Grand Prix,2008-04-27
67,21,13,6,3,2,66,+3.228,5902279,45,2,1:21.801,204.863,1,4,Spanish Grand Prix,2008-04-27
68,21,1,1,5,3,66,+4.187,5903238,20,3,1:22.017,204.323,1,4,Spanish Grand Prix,2008-04-27
69,21,9,2,4,4,66,+5.694,5904745,20,4,1:22.106,204.102,1,4,Spanish Grand Prix,2008-04-27
70,21,17,9,7,5,66,+35.938,5934989,19,8,1:22.564,202.969,1,4,Spanish Grand Prix,2008-04-27

In [60]:
#monaco
monaco = [6]
results_and_races_in_monaco = all_results_and_races[all_results_and_races['circuitId'].isin(monaco)]
results_and_races_in_monaco.head()

,raceId,driverId,constructorId,grid,position,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,circuitId,name,date
108,23,1,1,3,1,76,2:00:42.742,7242742,71,6,1:18.510,153.152,1,6,Monaco Grand Prix,2008-05-25
109,23,9,2,5,2,76,+3.064,7245806,75,5,1:17.933,154.286,1,6,Monaco Grand Prix,2008-05-25
110,23,13,6,1,3,76,+4.811,7247553,76,4,1:17.886,154.379,1,6,Monaco Grand Prix,2008-05-25
111,23,17,9,9,4,76,+19.295,7262037,74,8,1:19.036,152.133,1,6,Monaco Grand Prix,2008-05-25
112,23,20,5,19,5,76,+24.657,7267399,74,7,1:18.787,152.614,1,6,Monaco Grand Prix,2008-05-25

In [61]:
#monza
monza = [14]
results_and_races_in_monza = all_results_and_races[all_results_and_races['circuitId'].isin(monza)]
results_and_races_in_monza.head()

,raceId,driverId,constructorId,grid,position,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,circuitId,name,date
268,31,20,5,1,1,53,1:26:47.494,5207494,53,14,1:30.510,230.414,1,14,Italian Grand Prix,2008-09-14
269,31,5,1,2,2,53,+12.512,5220006,53,13,1:30.300,230.950,1,14,Italian Grand Prix,2008-09-14
270,31,9,2,11,3,53,+20.471,5227965,52,12,1:30.298,230.955,1,14,Italian Grand Prix,2008-09-14
271,31,4,4,8,4,53,+23.903,5231397,51,9,1:29.961,231.820,1,14,Italian Grand Prix,2008-09-14
272,31,2,2,10,5,53,+27.748,5235242,53,6,1:29.807,232.217,1,14,Italian Grand Prix,2008-09-14

# Cleaning Laptimes.CSV and PitStops.CSV

In [39]:
lap_times = pd.read_csv("/Users/jamesbifulco/Desktop/f1capstonerepo/githubrepo/lap_times.csv")

In [40]:
lap_times.head()

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342

In [41]:
pit_stops = pd.read_csv("/Users/jamesbifulco/Desktop/f1capstonerepo/githubrepo/pit_stops.csv")

In [42]:
pit_stops.head()

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [43]:
pit_stops_MMB = pit_stops[pit_stops["raceId"].isin(raceIdMMB)]

In [44]:
lap_times_MMB = lap_times[lap_times["raceId"].isin(raceIdMMB)]

In [45]:
# These two dataframes are lap times and pitstops that occurred in races in Monaco, Monza, and Barcelona 2009-2020
# Based on the list of raceId's that were present in the previous dataframe that includes crash data.

In [46]:
#Confused about where to go from here... do I then filter these dataframes out by a list of driverIds found in the 
#results and races in mbb dataframe?

In [47]:
#After doing that I do I merge these two filtered dataframes?

In [48]:
# These two dataframes would only contain info on drivers and races who are included in the previous dataframe.. 
#Would merging ON driverId make sense?

In [49]:
#The final product of this filtering and sorting would contain a dataframe of crash data (designated by status 3, 4, 104) 
# where it includes information on instances of crashes in races that took place in Monaco, Monza, Barcelona from 
#'09-'20